06ClienteEstados02/src/WSEstados/estados.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="EstadosWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/estados?xsd=1"/>
</xsd:schema>
</types>
<message name="getPoblacion">
<part name="parameters" element="tns:getPoblacion"/>
</message>
<message name="getPoblacionResponse">
<part name="parameters" element="tns:getPoblacionResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getCapital">
<part name="parameters" element="tns:getCapital"/>
</message>
<message name="getCapitalResponse">
<part name="parameters" element="tns:getCapitalResponse"/>
</message>
<message name="getEstados">
<part name="parameters" element="tns:getEstados"/>
</message>
<message name="getEstadosResponse">
<part name="parameters" element="tns:getEstadosResponse"/>
</message>
<portType name="EstadosWSImpl">
<operation name="getPoblacion">
<input wsam:Action="http://ws/EstadosWSImpl/getPoblacionRequest" message="tns:getPoblacion"/>
<output wsam:Action="http://ws/EstadosWSImpl/getPoblacionResponse" message="tns:getPoblacionResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws/EstadosWSImpl/getPoblacion/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws/EstadosWSImpl/getPoblacion/Fault/SQLException"/>
</operation>
<operation name="getCapital">
<input wsam:Action="http://ws/EstadosWSImpl/getCapitalRequest" message="tns:getCapital"/>
<output wsam:Action="http://ws/EstadosWSImpl/getCapitalResponse" message="tns:getCapitalResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws/EstadosWSImpl/getCapital/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws/EstadosWSImpl/getCapital/Fault/SQLException"/>
</operation>
<operation name="getEstados">
<input wsam:Action="http://ws/EstadosWSImpl/getEstadosRequest" message="tns:getEstados"/>
<output wsam:Action="http://ws/EstadosWSImpl/getEstadosResponse" message="tns:getEstadosResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://ws/EstadosWSImpl/getEstados/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws/EstadosWSImpl/getEstados/Fault/SQLException"/>
</operation>
</portType>
<binding name="EstadosWSImplPortBinding" type="tns:EstadosWSImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPoblacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getCapital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getEstados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EstadosWSImplService">
<port name="EstadosWSImplPort" binding="tns:EstadosWSImplPortBinding">
<soap:address location="http://localhost:8080/estados"/>
</port>
</service>
</definitions>